body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.site-header {
  background-color: #9a8dc5;
}

.site-footer {
  background-color: #001E11;
  display: block;
  }

.footer-text {
  color: white;
}

.footer-header{
  color: #B0ABC0;
}

.social-icons {
  margin: .5rem;
}

.home-main {
  background-image: url(/img/background_pattern.svg);
  background-color: white;
  flex-grow: 1;
}

.home-text {
  font-size: 1.5rem;
  font-weight: 500;
  color: #001E11;
  text-align: center;
  margin: auto;
}

.button-main {
  background: #AC65BE;
  padding: 15px;
  margin: 2%;
  text-align: center;
  border-radius:20px;
  font-weight: bold;
  color: white;
  display: inline-block;
}

.navbar-item {
  font-size: large;
  color:white;
  font-weight: bold;
  padding: 0px 20px;
}

.name {
  font-size: 2rem;
  font-weight: 500;
}

hr {
  border: 3px solid #001E11;
  margin: 0;
}

.about-title {
  font-size: 1.5rem;
  text-align: left;
}

.headshot {
  max-width: 100%;
  height: auto;
}

.bio{
  font-size: 1.3rem;
  font-weight: 500;
  color: #001E11;
  text-align: left;
}

.skill-box{
  background-color: #B0ABC0;
  height: 2.5rem;
  text-align: center;
  padding: .5rem;
  margin: .1rem;
}

#projects-carousel {
  position:static;
}

.contact-title {
  font-size: 1.5rem;
  text-align: center;
}