$color-primary: #9a8dc5;
$color-secondary: #001E11;
$color-button-primary: #AC65BE;

$body-font: 'Roboto', sans-serif;

/* All pages */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: $body-font;
  }
  
  .home-main {
    background-image: url(/img/background_pattern.svg);
    background-color: white;
    flex-grow: 1;
  }
  
  /* HEADER */
  .site-header {
    background-color: $color-primary;
  }
  
  .navbar-item {
    font-size: large;
    color:white;
    font-weight: bold;
    padding: 0px 20px;
  }
  
  .name {
    font-size: 2rem;
    font-weight: 500;
  }
  
  hr {
    border: 3px solid $color-secondary;
    margin: 0;
  }
  
  /* FOOTER */
  .site-footer {
    background-color: $color-secondary;
    display: block;
    }
  
  .footer-text {
    color: white;
  }
  
  .footer-header{
    color: $color-primary;
  }
  
  .social-icons {
    margin: .5rem;
  }
  
  /* BUTTON(S) */
  .button-main {
    background: $color-button-primary;
    padding: 15px;
    margin: 2%;
    text-align: center;
    border-radius:20px;
    font-weight: bold;
    color: white;
    display: inline-block;
  }
  
  /* INDEX/HOME */
  .home-text {
    font-size: 1.5rem;
    font-weight: 500;
    color: $color-secondary;
    text-align: center;
    margin: auto;
  }
  
  /* ABOUT */
  .about-title .contact-subtitle{
    font-size: 1.5rem;
    text-align: left;
  }
  
  .headshot {
    max-width: 100%;
    height: auto;
  }
  
  .bio{
    font-size: 1.3rem;
    font-weight: 500;
    color: #001E11;
    text-align: left;
  }
  
  .skill-box{
    background-color: $color-primary;
    height: 2.5rem;
    text-align: center;
    padding: .5rem;
    margin: .1rem;
  }
  
  /* CONTACT */
  .contact-title {
    font-size: 1.5rem;
    text-align: center;
  }
  
  .social-icons-dark {
    margin: .5rem;
  }
  
  .contactForm {
    color:$color-secondary;  
  }
  
  /* PROJECTS */
  .projects-container {
    width: 100%;
    height: 200px;
    color: rgb(255, 255, 255);
  }
  
  .project-box {
    color: $color-secondary;
  }
  
  .card-title-pane {
    background-color:$color-secondary;
    color: white;
  
  }